name: collect
on:
  push:
    branches:
      - main
  schedule:
    - cron: "30 3 * * *"
    - cron: "0 */4 * * *"
  workflow_dispatch:
jobs:
  collect:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "./src/python/pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: cd src/python && uv sync --locked

      - name: Collect
        run: |
          cd src/python && uv run collect.py
      - name: Commit && Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add dist
          git diff-index --quiet HEAD dist || git commit -m "feat: update collect"
          git push
